<nb-layout>
  <nb-layout-header *ngIf="loggedIn">
    <nb-actions size="small">
      <nb-action>
        <img src="/assets/images/logo.png" class="logo" />
      </nb-action>
    </nb-actions>
    <nb-actions style="margin-left: auto">
      <nb-action class="user-action">
        <nb-user
          class="nb-user-custom-class"
          [nbContextMenu]="userMenu"
          [onlyPicture]="userPictureOnly"
          [name]="fullname"
          color="white"
          size="small"
        >
        </nb-user>
      </nb-action>
    </nb-actions>
  </nb-layout-header>
  <nb-layout-column>
    <router-outlet></router-outlet>
    your content Here
  </nb-layout-column>
  <nb-layout-footer *ngIf="loggedIn">
    <div class="col-12 d-flex justify-content-between">
      <p class="text-primary font-weight-bold">V1.0.0</p>
      <p class="float-right font-weight-bold">PSZ electronics GmbH &#9400;</p>
    </div>
  </nb-layout-footer>
</nb-layout>
